apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - dasboard-auth-secret.yaml

components:
  - ../../../base/apps/traefik

patches:
  - target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
      name: traefik
    patch: |
      - op: replace
        path: /spec/values/gateway/listeners/websecure/certificateRefs
        value:
          - kind: Secret
            name: infra-czifro-cloud-cert
            group: ""
      - op: add
        path: /spec/values/ingressRoute/dashboard/middlewares/-
        value:
          name: dashboard-auth
          - apiVersion: traefik.io/v1alpha1
            kind: Middleware
            metadata:
              name: dashboard-auth
            spec:
              basicAuth:
                secret: dashboard-auth-secret
