apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

components:
  - ../../../base/apps/traefik

patches:
  - target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
      name: traefik
    patch: |
      - op: replace
        path: /spec/values/gateway/listeners/websecure/certificateRefs
        value:
          - kind: Secret
            name: infra-czifro-cloud-cert
            group: ""
      - op: add
        path: /spec/values/ingressRoute/dashboard/middlewares/-
        value:
          name: dashboard-auth
      - op: replace
        path: /spec/extraObjects
        value:
          - apiVersion: external-secrets.io/v1
            kind: ExternalSecret
            metadata:
              name: dashboard-auth-secret
            spec:
              secretStoreRef:
                kind: SecretStore
                name: infra-1password-sdk-backend
              target:
                creationPolicy: Owner
              data:
                - secretKey: username
                  remoteRef:
                    key: czifro-cloud-prod/traefik-dashboard-basicauth/username
                - secretKey: password
                  remoteRef:
                    key: czifro-cloud-prod/traefik-dashboard-basicauth/credential
          - apiVersion: traefik.io/v1alpha1
            kind: Middleware
            metadata:
              name: dashboard-auth
            spec:
              basicAuth:
                secret: dashboard-auth-secret
